.ed-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}

.ed-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .ed-title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .ed-title::before,.ed-title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .ed-title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .ed-title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .ed-message, .ed-signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .ed-signin {
    text-align: center;
  }
  
  .ed-signin a {
    color: royalblue;
  }
  
  .ed-signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .ed-flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .ed-form label {
    position: relative;
  }
  
  .ed-form label .ed-input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .ed-form label .ed-input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .ed-form label .ed-input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .ed-form label .ed-input:focus + span,.ed-form label .ed-input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .ed-form .ed-label .ed-input:valid + span {
    color: green;
  }
  
  .ed-submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .ed-submit:hover {
    background-color: rgb(56, 90, 194);
  }

  .ed-cancel {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }



/* Add Post */

.AddPost-main {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
}

.po-form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: black;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.po-form .po-input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.po-form input,
.po-form input{
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: var(--clr-alpha);
  outline: 2px solid var(--bg-dark);
}

.po-form input:focus,
.po-form input:focus {
  outline: 2px solid var(--clr);
}

.po-label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.po-form .po-submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: none;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.po-form .po-submit:hover {
  background-color: var(--clr);
  color: var(--bg-dark);
}

.po-span {
  text-decoration: none;
  color: var(--bg-dark);
}

.po-span a {
  color: var(--clr);
}



.vc-conatainer {
  margin: 150px 0;
  padding: 35px 25px;
  width: 300px;
  height: auto;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}